@{ ViewBag.Title = "Web scheduler";}

<h1>Web Scheduler</h1>

<h4>To test admin/manager functionality: login with email: admin@admin.com, password: Schedule123!</h4>
<br />
<h4>To test staff functionality, register an account/log in</h4>

