@using WebScheduler.Models.StaffViewModels
@using WebScheduler.Models
@model AddEditAvailabilityViewModel

@{ViewBag.Title = "Add/EditAvailablity";}

Welcome, @User.Identity.Name!

@if (ViewBag.availabilities.Count != 0)
{
    <h1>Availability</h1>
    <table class="table-bordered">
        <tr>
            <th>Day</th>
            <th>Start Time</th>
            <th>End Time</th>
        </tr>

        @foreach (Availability availability in ViewBag.availabilities)
        {
            <tr>
                <td>@availability.Day</td>
                <td>@availability.StartTime</td>
                <td>@availability.EndTime</td>
            </tr>

        }
    </table>

}

<h3>Set Availability</h3>

<form method="post" asp-controller="staff" asp-action="availability">
    <div class="form-group">
        <label asp-for="Day"></label>
        <select class="form-control" asp-for="Day" asp-items="Html.GetEnumSelectList<DayOfWeek>()"></select>
    </div>
    <div class="form-group">
        <label asp-for="StartTime"></label>
        <input class="form-control" asp-for="StartTime" type="time" min="10:00:00" />
    </div>
    <div class="form-group">
        <label asp-for="EndTime"></label>
        <input class="form-control" asp-for="EndTime" type="time" max="22:00:00"/>
    </div>
    <input type="submit" class="btn" />
</form> 