@using WebScheduler.Models.StaffViewModels
@model EditAvailabilityViewModel

@{ ViewBag.Title = $"Edit availability for {ViewBag.availability.Day}";}

<h1>@ViewBag.Title</h1>

<form asp-controller="staff" asp-action="editavailability" asp-route-id="@ViewBag.availability.ID" method="post">
    <div class="form-group">
        <input class="form-control" asp-for="StartTime" type="time" />
        <span class="text-danger" asp-validation-for="StartTime"></span>
    </div>
    <div class="form-group">
        <input class="form-control" asp-for="EndTime" type="time" />
        <span class="text-danger" asp-validation-for="EndTime"></span>
    </div>
    <input type="submit" class="btn" value="Save Changes" />
</form>