@{ ViewBag.Title = "Staff Landing Page";}

<h1>Staff</h1>

<a asp-controller="staff" asp-action="availability">Edit Availability</a>
<br />
<a asp-controller="staff" asp-action="requestoff">Request Off</a>
<br />
<a asp-controller="staff" asp-action="schedules">Schedules</a>