@using WebScheduler.Models.AdminViewModels
@model CreateScheduleViewModel

@{ ViewBag.Title = "Create Schedule";}

<h1>@ViewBag.Title</h1>
<h3>Set schedule start date</h3>

<form method="post">
    <div class="form-group">
        <input class="form-control" asp-for="StartDate" type="date" value="@DateTime.Now.Date" />
        <span asp-validation-for="StartDate" class="text-danger"></span>
    </div>
    <input type="submit" class="btn" value="Create" />
</form>