@{ ViewBag.Title = "Store Manager";}

<h1>Store Manager</h1>

<div>
    <a asp-controller="admin" asp-action="createschedule">Create Schedule</a>
    <br />
    <a asp-controller="admin" asp-action="viewschedules">View Schedules</a>
    <br />
    @*View Current Schedule*@
    <a asp-controller="admin" asp-action="availability">View Staff Availability</a>
    <br />
    <a asp-controller="admin" asp-action="requestsoff">View Requests Off</a>
    <br />
    <a asp-controller="admin" asp-action="managestaff">Manage Staff</a>
</div>