@{ ViewBag.Title = "Store Manager";}

<h1>Store Manager</h1>

@*Create Schedule*@
@*View Current Schedule*@
<a asp-controller="admin" asp-action="availability">View Staff Availability</a>
@*Manage Empoyeers*@