@{ ViewBag.Title = "Store Manager";}

<h1>Store Manager</h1>

<a asp-controller="admin" asp-action="createschedule">Create Schedule</a>
@*View Current Schedule*@
<a asp-controller="admin" asp-action="availability">View Staff Availability</a>
<a asp-controller="admin" asp-action="requestsoff">View Requests Off</a>
@*Manage Empoyeers*@