@using WebScheduler.Models
@model IList<Schedule>

@{ ViewBag.Title = "Schedules";}

<h1>@ViewBag.Title</h1>

@foreach (Schedule schedule in Model)
{
    <a asp-controller ="admin" asp-action="editschedule" asp-route-id="@schedule.ID">@schedule.StartDate.Month/@schedule.StartDate.Day/@schedule.StartDate.Year</a>
    <br />
}